.menu-bar{
  list-style-type: none;
  margin: 0;
  padding: 2em;
}

.menu-bar-item{
  float: left;
  padding-right: 3em;
}

.main{
  padding: 2em;
}
/* resources from https://monster-siren.hypergryph.com/about */
body {
  background-image: url("../assets/bg_2.png");
  background-size: cover;
  cursor: url("../assets/cursor.svg"), default;
  color: white;
}

html, body {
  width: 100%; 
  height: 100%;
}
a{
  color: white;

}

element.style {
  min-width: 1024px;
}